In [1]:

import pandas as pd
import regex as re # fornece suporte para expressões regulares (regex).

In [ ]:
from google.colab import files
upload = files.upload()

In [12]:
# Carregar o arquivo CSV
dataset = pd.read_csv("C:/Users/anaca/Documents/GitHub/projeto_pos_puc_minas_churn/ProjetoChurn/Fonte/SIS_CRM_TB_CHURN.txt", delimiter='	')

In [13]:
#visulizar - dados
dataset.head()

,ID,cpf,nome,sobrenome,idgenero,estado_civil,idade,uf,escolaridade,indcliente,MES,ANO
0,1,123.456.789-01,Alice,Alves,Feminino,3,25,SE,11,0.0,5,2024
1,2,234.567.001-12,Ana,Amaral,Feminino,2,56,CE,6,1.0,5,2024
2,3,345.678.002-23,Aline,Abreu,f,1,38,PE,3,1.0,5,2024
3,4,456.789.003-34,Amanda,Andrade,f,6,72,BA,7,1.0,5,2024
4,5,567.890.004-45,Adriana,Araújo,Feminino,4,29,MA,5,1.0,5,2024

In [14]:
# Mostrar a quantidade de linhas e colunas
dataset.shape

(505, 12)

In [15]:
#dar conformidade ao nome das colunas
dataset.columns = ["id","cpf","nome","sobrenome","genero","estadocivil","idade","uf","escolaridade","indcliente","mes","ano"]

In [16]:
#visulizar - dados - colunas renomeadas
dataset.head()

,id,cpf,nome,sobrenome,genero,estadocivil,idade,uf,escolaridade,indcliente,mes,ano
0,1,123.456.789-01,Alice,Alves,Feminino,3,25,SE,11,0.0,5,2024
1,2,234.567.001-12,Ana,Amaral,Feminino,2,56,CE,6,1.0,5,2024
2,3,345.678.002-23,Aline,Abreu,f,1,38,PE,3,1.0,5,2024
3,4,456.789.003-34,Amanda,Andrade,f,6,72,BA,7,1.0,5,2024
4,5,567.890.004-45,Adriana,Araújo,Feminino,4,29,MA,5,1.0,5,2024

In [17]:
#contamos valores NA (Not Avaiable) =null
dataset.isnull().sum()

id                0
cpf               0
nome              0
sobrenome         0
genero            0
estadocivil       0
idade             0
uf                0
escolaridade      0
indcliente      348
mes               0
ano               0
dtype: int64

In [18]:
# Conta duplicidade na coluna 'cpf'
duplicados_cpf = dataset.duplicated(subset=['cpf']).sum()
print(f"\nQuantidade de CPFs duplicados: {duplicados_cpf}")

Quantidade de CPFs duplicados: 6

In [19]:
# Visualiza duplicidade na coluna 'cpf'
duplicados_cpf = dataset[dataset.duplicated(subset=['cpf'], keep=False)]
duplicados_cpf = duplicados_cpf.sort_values(by='cpf')
duplicados_cpf

,id,cpf,nome,sobrenome,genero,estadocivil,idade,uf,escolaridade,indcliente,mes,ano
0,1,123.456.789-01,Alice,Alves,Feminino,3,25,SE,11,0.0,5,2024
503,506,123.456.789-01,Alice,Alves,Feminino,3,25,SE,11,0.0,5,2024
2,3,345.678.002-23,Aline,Abreu,f,1,38,PE,3,1.0,5,2024
500,502,345.678.002-23,Aline,Abreu,Feminino,1,38,PE,3,1.0,5,2024
99,100,456.567.099-89,Bárbara,Taborda,Feminino,3,48,BA,6,0.0,5,2024
499,501,456.567.099-89,Bárbara,Taborda,Feminino,3,48,BA,6,0.0,5,2024
199,200,456.567.199-89,Ágata,Haugen,Masculino,3,34,MA,6,1.0,5,2024
501,503,456.567.199-89,Ágata,Haugen,Masculino,3,34,MA,6,1.0,5,2024
299,300,456.567.299-89,Márcia,Tavares,Feminino,5,52,PE,7,1.0,5,2024
504,507,456.567.299-89,Márcia,Tavares,Feminino,5,52,PE,7,1.0,5,2024
498,500,461.782.577-74,Solano,Bastos,Masculino,1,68,PI,11,NaN,5,2024
502,504,461.782.577-74,Solano,Bastos,Masculino,1,68,PI,11,NaN,5,2024

In [20]:
#indcliente - explorar domínio
group = dataset.groupby(['indcliente']).size()
result = group.sort_values(ascending=False)
result

indcliente
0.0    103
1.0     54
dtype: int64

In [21]:
# Função para contar caracteres especiais em uma string
def contar_caracteres_especiais(texto):
    if pd.isnull(texto):
        return 0
    # Expressão regular atualizada para considerar acentos e cedilha
    return len(re.findall(r'[^a-zA-ZÀ-ÿ\s]', texto))

In [22]:
# Contar caracteres especiais nas colunas 'nome' e 'sobrenome'
caracteres_especiais_nome = dataset['nome'].apply(contar_caracteres_especiais).value_counts()
caracteres_especiais_sobrenome = dataset['sobrenome'].apply(contar_caracteres_especiais).value_counts()
print(caracteres_especiais_nome)
print(caracteres_especiais_sobrenome)

nome
0    505
Name: count, dtype: int64
sobrenome
0    505
Name: count, dtype: int64

In [23]:
#identidade de genero - explorar domínio - dado categórico
group = dataset.groupby(['genero']).size()
result = group.sort_values(ascending=False)
result

genero
Feminino                  214
Masculino                 212
f                          17
m                          15
Bigênero                   12
Fem                         9
Outros                      6
a                           4
Agênero                     3
             Masculino      2
Outros                      2
M                           2
F                           2
           f                1
Agenero                     1
       Masculino            1
Bi                          1
Masc                        1
dtype: int64

In [24]:
#identidade de mes - explorar domínio - dado categórico
group = dataset.groupby(['mes']).size()
result = group.sort_values(ascending=False)
result

mes
5    505
dtype: int64

In [25]:
#identidade de mes - explorar domínio - dado categórico
group = dataset.groupby(['ano']).size()
result = group.sort_values(ascending=False)
result

ano
2024    505
dtype: int64